/* Corpo da página */

html {
    background-image: url("jogo\ da\ velha.png");
    background-size: 4%;



}



body {
    background-color: ghostwhite;
    color: dimgray;
    font-family: serif;
    align-items: center;
}

/* titulo  */
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 7rem;
    text-align: center;

    color: rgba(13, 13, 14, 0.713);
    text-decoration: underline;

}

/*     */
#container {
    margin: 5% auto;
    border-radius: 25px;
    text-align: center;

}

/*   */
.box {
    display: inline-block;
    border: 2px solid rgba(124, 122, 122, 0.524);
    width: 100px;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    padding: 0;

}

/*     */
span {
    position: absolute;
    font-size: 75px;
    font-family: sans-serif;
    text-align: center;
    height: 75px;
    width: 75px;
    padding: 0;
    margin: 5px;
    margin-left: -35px;
}

/*     */
.top {
    border-top: none;
}

/*     */
button {
    border-bottom: none;
}

/*    */
.left {
    border-left: none;
}

/*    */
.right {
    border-right: none;
}

/*    */
.alert {
    height: 75px;
    width: 125px;
    display: inline-block;
    background: ghostwhite;
    position: fixed;
    z-index: 10;
    margin-top: 95px;
    margin-left: 8px;

    border: 5px solid yellow;

    color: rgb(52, 44, 44);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;


    border-radius: 20px;
    box-shadow: 0 0 75px 2px dimgray;
    animation: larger 0.5s;
    animation-fill-mode: forwards;
    box-sizing: content-box;
    padding: 80px;
    padding-top: inherit;
    bottom: 40px;
    top: 0;
}

/*     */
button {
    background: dimgray;
    border-radius: 2px;
    color: ghostwhite;
    border: none;
    outline: none;

}

/*     */
button :focus {
    background: silver;

}

/*   */
activeBox {
    background: silver;
}

/*    */
@keyframes larger {

    /*      */
    from {
        height: 75px;
        width: 125px;
    }

    /*     */
    to {
        height: 100px;
        width: 200px;
    }


}

a {
    font-size: 20px;
    margin: 15px;

}